@charset "UTF-8";
/* Fontiksi Georgia, harvempi riviväli */

$block-code-size: 100%;
$font-family-base: exportable((Georgia, Times, serif, serif), font-family-base);
$font-family-monospace: exportable(monospace, font-family-monospace);
$font-size-base: exportable(15px, font-size-base);
$font-size-h1: exportable(floor(($font-size-base * 2.29)), font-size-h1);
$font-size-h2: exportable(floor(($font-size-base * 1.72)), font-size-h2);
$font-size-h3: exportable(floor(($font-size-base * 1.5)), font-size-h3);
$heading-outdent: 0;
$inline-code-size: 100%;
$line-height-base: 1.75;
$pre-overflow: auto;
$pre-left-border: 0px;
$pre-background: #eff0f1;