@charset "UTF-8";
/* Piilottaa fokus-elementit (tekstin värjäys, fokuspalkki klikatessa tekstiä) */

$focus-bar-color: exportable(transparent, focus-bar-color);
$lightselect-color: exportable(transparent, lightselect-color);
$parselect-color: exportable(transparent, parselect-color);
