@charset "UTF-8";
/* Vaaleasävyinen teema */

$basic-color: exportable(#3CC, basic-color);
$button-bg-color: exportable($basic-color, button-bg-color);
$editline-bg-color: $basic-color;
$areacollapse-color: $basic-color;
$tab-bg-color: $basic-color;
$csrundiv-color: $basic-color;
$note-private-color: $basic-color;
$csrunmenu-link-color: $basic-color;
$timbutton-bg-color: $button-bg-color;
$viewlogin-link-color: $basic-color;
$draghandle-bg-color: $basic-color;
$icon-color: exportable($basic-color, icon-color);
$icon-hover-color: exportable(darken($basic-color, 10%), icon-hover-color);

$brand-primary: $basic-color;
$link-color: exportable(#5588FF, link-color);
