{% import 'macros.jinja2' as m -%}

{% set lecture_mode = route == "lecture" %}
{% set is_lecture_info = request.endpoint == 'lecture.show_lecture_info' %}
{% set show_lecture_menu = lecture_info.in_lecture or lecture_mode or is_lecture_info %}

{# Set default column widths if they are not defined in a child template #}
{% set col_1_lg = col_1_lg|default(2) %}
{% set col_2_lg = col_2_lg|default(8) %}
{% set col_3_lg = col_3_lg|default(2) %}
{% set col_m_lg = col_m_lg|default(12) %} {# col_m_* must be even #}

{% set col_1_md = col_1_md|default(2) %}
{% set col_2_md = col_2_md|default(8) %}
{% set col_3_md = col_3_md|default(2) %}
{% set col_m_md = col_m_md|default(12) %}

{% set col_1_sm = col_1_sm|default(2) %}
{% set col_2_sm = col_2_sm|default(10) %}
{% set col_3_sm = col_3_sm|default(0) %}
{% set col_m_sm = col_m_sm|default(12) %}

{% set col_1_xs = col_1_xs|default(0) %}
{% set col_2_xs = col_2_xs|default(12) %}
{% set col_3_xs = col_3_xs|default(0) %}
{% set col_m_xs = col_m_xs|default(12) %}

<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    {% block head %}
        <base href="{{ request.path }}">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="TIM - The Interactive Material."/>
        <meta name="keywords" content="tim,interactive,material"/>

        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/x-icon"/>
        <meta name="google-site-verification" content="GHYGje2NiYlQM66xyggsnzQht1OHSgtv_9baHbFIklU"/>
        <script>
            var homeOrganization = {{ config.HOME_ORGANIZATION|tojson }};
            var IS_TESTING = {{ config.TESTING|tojson }};
            var ANGULARMODULES = [];
            var JSMODULES = [];

            {% if show_lecture_menu %}JSMODULES.push("lectureMenu");{% endif %}
            {% if is_lecture_info %}JSMODULES.push("lectureInfo");{% endif %}

            var userPrefs = {{ prefs|tojson }};
            var current_user = {{ current_user.to_json(full=True)|tojson }};
            var other_users = {{ other_users|tojson }};
            var bookmarks = {{ bookmarks|tojson }};
            var locale = {{locale|tojson}};
            var lectureInfo = {{lecture_info|tojson}};

            var layout = {};
            layout.col_1_lg = {{col_1_lg|tojson}};
            layout.col_2_lg = {{col_2_lg|tojson}};
            layout.col_3_lg = {{col_3_lg|tojson}};
            layout.col_m_lg = {{col_m_lg|tojson}};
            layout.col_1_md = {{col_1_md|tojson}};
            layout.col_2_md = {{col_2_md|tojson}};
            layout.col_3_md = {{col_3_md|tojson}};
            layout.col_m_md = {{col_m_md|tojson}};
            layout.col_1_sm = {{col_1_sm|tojson}};
            layout.col_2_sm = {{col_2_sm|tojson}};
            layout.col_3_sm = {{col_3_sm|tojson}};
            layout.col_m_sm = {{col_m_sm|tojson}};
            layout.col_1_xs = {{col_1_xs|tojson}};
            layout.col_2_xs = {{col_2_xs|tojson}};
            layout.col_3_xs = {{col_3_xs|tojson}};
            layout.col_m_xs = {{col_m_xs|tojson}};

            var config = {};
            config.gitLastestCommitTimestamp = {{config.GIT_LATEST_COMMIT_TIMESTAMP|tojson}};
            config.helpEmail = {{config.HELP_EMAIL|tojson}};
            config.gitBranch = {{config.GIT_BRANCH|tojson}};
            config.hakaEnabled = {{config.HAKA_ENABLED|tojson}};
            config.emailRegistrationEnabled = {{config.EMAIL_REGISTRATION_ENABLED|tojson}};
            config.simpleEmailLogin = {{config.SIMPLE_EMAIL_LOGIN|tojson}};
            config.simpleLoginUseStudyInfoMessage = {{config.SIMPLE_LOGIN_USE_STUDY_INFO_MESSAGE|tojson}};
            config.minPasswordLength = {{config.MIN_PASSWORD_LENGTH|tojson}};
            config.hosts = {{config.HOSTS|tojson}};
            config.messageListsEnabled = {{config.MESSAGE_LISTS_ENABLED|tojson}};
        </script>
        {{ angularscripts|safe }}
        {% if not override_theme %}
            {{ m.scss(config.SASS_GEN_PATH / prefs.css_combined) }}
        {% endif %}

        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
                skipStartupTypeset: true
            });
        </script>
        <title>{% block title %}{% endblock %} - TIM</title>
    {% endblock %}
    <style type="text/css">
        {{ prefs.custom_css }}
    </style>
</head>
<body>
{% block body %}
{% if request.user_agent.browser == 'msie' %}
<div style="text-align: center; border: 2px solid red; padding: 1em;">
    <p>TIM ei toimi Internet Explorer -selaimella. Siirry käyttämään modernia selainta, kuten Firefoxia tai Chromea.</p>

    <p>TIM does not work with Internet Explorer. Please switch to a modern browser such as Firefox or Chrome.</p>
</div>
{% endif %}
<tim-root>
<{% block mainctrl %}div{% endblock %} style="flex: 1">
    <div ng-init="$ctrl = $parent.$ctrl" class="container-fluid">
        <div class="row hidden-print" ng-cloak>
            <div class="col-lg-{{ col_1_lg }}
                        col-md-{{ col_1_md }}
                        col-xs-{{ col_1_xs }}
                        col-sm-{{ col_1_sm }}">
                <tim-sidebar-menu></tim-sidebar-menu>
            </div>
            <div class="col-lg-{{ col_2_lg }}
                        col-md-{{ col_2_md }}
                        col-xs-{{ col_2_xs }}
                        col-sm-{{ col_2_sm }}">
                <tim-site-header></tim-site-header>
            </div>
            <div class="col-lg-{{ col_3_lg }}
                        col-md-{{ col_3_md }}
                        col-xs-{{ col_3_xs }}
                        col-sm-{{ col_3_sm }}">
                <div class="right-fixed-side">
                    {% block rightside %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="row" ng-if="!$ctrl.hide.messages" ng-cloak>
            <div class="col-lg-{{ col_2_lg }} col-lg-offset-{{ col_1_lg }}
                        col-md-{{ col_2_md }} col-md-offset-{{ col_1_md }}
                        col-xs-{{ col_2_xs }} col-xs-offset-{{ col_1_xs }}
                        col-sm-{{ col_2_sm }} col-sm-offset-{{ col_1_sm }}">
                {% for n in global_notifications %}
                    <div class="global-notification alert alert-info">
                        <i class="glyphicon glyphicon-info-sign"></i> {{ n|safe }}
                    </div>
                {% endfor %}
                <tim-message-view></tim-message-view>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-info">
                                <i class="glyphicon glyphicon-info-sign"></i> {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row" ng-if="!$ctrl.hide.header" ng-cloak>
            <div class="col-lg-{{ col_2_lg }} col-lg-offset-{{ col_1_lg }}
                        col-md-{{ col_2_md }} col-md-offset-{{ col_1_md }}
                        col-xs-{{ col_2_xs }} col-xs-offset-{{ col_1_xs }}
                        col-sm-{{ col_2_sm }} col-sm-offset-{{ col_1_sm }}">
                <div id="header" class="hidden-print">
                    <tim-header></tim-header>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-{{ col_2_lg }} col-lg-offset-{{ col_1_lg }}
                        col-md-{{ col_2_md }} col-md-offset-{{ col_1_md }}
                        col-xs-{{ col_2_xs }} col-xs-offset-{{ col_1_xs }}
                        col-sm-{{ col_2_sm }} col-sm-offset-{{ col_1_sm }}">
                <div class="row">
                    <div class="col-lg-{{ col_m_lg }} col-lg-offset-{{ (12 - col_m_lg) // 2 }}
                                col-md-{{ col_m_md }} col-md-offset-{{ (12 - col_m_md) // 2 }}
                                col-xs-{{ col_m_xs }} col-xs-offset-{{ (12 - col_m_xs) // 2 }}
                                col-sm-{{ col_m_sm }} col-sm-offset-{{ (12 - col_m_sm) // 2 }}">
                        <div class="material">
                            {% if show_lecture_menu %}
                                <tim-lecture-menu></tim-lecture-menu>
                            {% endif %}
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</{{ self.mainctrl() }}>
<tim-footer ng-if="!$parent.$ctrl.hide.footer"></tim-footer>
</tim-root>
{% endblock %}
<div class="device-xs visible-xs-block"></div>
<div class="device-sm visible-sm-block"></div>
<div class="device-md visible-md-block"></div>
<div class="device-lg visible-lg-block"></div>
<tim-dialog-container></tim-dialog-container>
</body>
</html>
