<div>
    <div uib-alert ng-repeat="alert in $ctrl.alerts" ng-class="'alert-' + (alert.type || 'warning')"
         data-close="$ctrl.closeAlert($index)">
        <div ng-bind-html="alert.msg"></div>
    </div>
    <label ng-show="$ctrl.hidden && $ctrl.anyInvalid && !$ctrl.formMode" class="checkbox-inline">
        <input type="checkbox" ng-model="$ctrl.onlyValid">Show valid only</label>
    <div ng-show="!$ctrl.hidden">
        <div ng-show="$ctrl.viewctrl.teacherMode && $ctrl.users.length > 0" class="flex">
            <div>
                <div class="input-group input-group-xs">
            <span class="input-group-btn">
               <button class="btn btn-primary" ng-click="$ctrl.randomStudent()" title="Choose random student">R</button>
               <button title="Previous user" class="btn btn-primary" ng-click="$ctrl.changeStudent(-1)">&uarr;</button>
             </span>
                    <select class="form-control"
                            focus-me="!$ctrl.selectedAnswer && $ctrl.shouldFocus #blurWhenFalse"
                            ng-model="$ctrl.user"
                            ng-options="(user.real_name + ' (' + user.name + ')') for user in $ctrl.users track by user.id"
                            ng-change="$ctrl.getAnswersAndUpdate()"></select>
                    <span class="input-group-btn">
             <button title="Next user" class="btn btn-primary" ng-click="$ctrl.changeStudent(+1)">&darr;</button>
            </span>
                </div>
            </div>
            <div class="no-shrink">
            <span>
                {{ $ctrl.findSelectedUserIndex() + 1 }}/{{ $ctrl.users.length }}
            </span>
                <a ng-href="mailto:{{$ctrl.user.email}}">email</a>
            </div>
        </div>
        <div ng-show="!$ctrl.hasUserChanged() || $ctrl.loading">
            <div ng-show="$ctrl.answers.length > 0">
                <div ng-if="$ctrl.showBrowseAnswers" class="flex align-center">
                    <div>
                        <div class="input-group input-group-xs">
                <span class="input-group-btn">
                    <button title="Previous answer" class="btn btn-primary prevAnswer"
                            ng-click="$ctrl.changeAnswerTo(+1)">&larr;</button>
                </span>
                            <select class="form-control"
                                    title="List of answers"
                                    ng-model="$ctrl.selectedAnswer"
                                    ng-options="(($ctrl.filteredAnswers.length - idx) + '. ' + (answer.answered_on | timdate )) for (idx, answer) in $ctrl.filteredAnswers | orderBy:'answer.id' track by answer.id"
                                    ng-change="$ctrl.changeAnswer()"></select>
                            <span class="input-group-btn">
                    <button title="Next answer" class="btn btn-primary nextAnswer" ng-click="$ctrl.changeAnswerTo(-1)">&rarr;</button>
                </span>
                        </div>
                    </div>
                    <div class="no-shrink">
                    <span>{{ $ctrl.filteredAnswers.length - $ctrl.findSelectedAnswerIndex() }}/<a tabindex="0"
                                                                                                  title="Newest answer"
                                                                                                  ng-click="$ctrl.setNewest()">{{ $ctrl.filteredAnswers.length }}</a></span>
                        <label class="checkbox-inline" ng-show="$ctrl.anyInvalid">
                            <input type="checkbox" ng-model="$ctrl.onlyValid">Show valid only</label>
                        <span ng-show="$ctrl.showTeacher()"> | <a ng-click="$ctrl.getAllAnswers()">All answers</a>
                    </span>
                        <span ng-if="$ctrl.selectedAnswer">
                        | <a title="Link to currently selected answer"
                             ng-click="$event.preventDefault()"
                             ng-href="{{ $ctrl.getAnswerLink() }}">Link</a>
                        (<a title="Link to currently selected answer without other document content"
                            target="_blank"
                            ng-href="{{ $ctrl.getAnswerLink(true) }}">only</a>)
                         <a ng-if="$ctrl.peerReviewEnabled && !$ctrl.isPeerReview"
                            title="Link to peer review"
                            ng-href="{{ $ctrl.getReviewLink() }}">Review</a>
                    </span>
                    </div>
                </div>
                </div>
             <div ng-show="$ctrl.answers.length == 0 && $ctrl.viewctrl.teacherMode">
                <span ng-if="!$ctrl.hasUserChanged()">(no answers from the selected user)</span>
                 <span ng-if="$ctrl.hasUserChanged()"> <tim-loading></tim-loading> </span>
             </div>
                 <div class="flex ab-option-row">
                            <form ng-submit="$ctrl.savePoints()" class="point-form form-inline">
                                <label class="inline" ng-show="$ctrl.showTeacher() || ($ctrl.giveCustomPoints && $ctrl.allowCustomPoints())">
                                    Points:<input class="form-control input-xs"
                                                  ng-class="{ unsaved: $ctrl.points != $ctrl.selectedAnswer.points,
                                                  'no-step': !$ctrl.markupSettings.pointsStep }"
                                                  focus-me="$ctrl.shouldFocus #blurWhenFalse"
                                                  ng-focus="$ctrl.shouldFocusIfSelectedAnswer()"
                                                  ng-blur="$ctrl.shouldFocus = false"
                                                  ng-model="$ctrl.points"
                                                  ng-keydown="$ctrl.handlePointScroll($event)"
                                                  name="points"
                                                  type="number"
                                                  step="{{ $ctrl.pointsStep }}"
                                                  style="max-width: 5em"
                                                  autocomplete="off"
                                                  size="2">
                                </label>

                                <button title="Save points"
                                        class="timButton btn-xs"
                                        ng-show="$ctrl.selectedAnswer && $ctrl.points != $ctrl.selectedAnswer.points">
                                    <i class="glyphicon glyphicon-ok"></i>
                                </button>
                            </form>
<!--in ab-option-row span elements have right margin, use div if selecting multiple elements for ng-show -->
                            <div ng-show="$ctrl.selectedAnswer">

                            <span class="inline" ng-show="$ctrl.points !== null && !($ctrl.showTeacher() || ($ctrl.giveCustomPoints && $ctrl.allowCustomPoints())) && $ctrl.taskInfo.pointsText">
                        {{ $ctrl.taskInfo.pointsText }} {{ $ctrl.points }} <span ng-if="!$ctrl.taskInfo.showPoints">(only visible to teachers)</span>
                    </span>
                            <span ng-show="$ctrl.taskInfo.maxPoints && $ctrl.points !== null">/ {{ $ctrl.taskInfo.maxPoints }}</span>
                            <span ng-show="!$ctrl.selectedAnswer.valid && $ctrl.points !== null">(invalid)</span>
                            <span ng-show="!$ctrl.viewctrl.teacherMode && $ctrl.allowCustomPoints()">
                        <label class="checkbox-inline">
                            <input type="checkbox"
                                   ng-model="$ctrl.giveCustomPoints">Set custom points</label>
                    </span>
                            <span ng-if="$ctrl.showTeacher()">
                        <label class="checkbox-inline">
                            <input type="checkbox" ng-model="$ctrl.isValidAnswer">Valid
                        </label>
                        <button title="Save validity"
                                ng-click="$ctrl.saveValidity()"
                                class="timButton btn-xs"
                                ng-if="$ctrl.isValidAnswer != $ctrl.selectedAnswer.valid">
                            <i class="glyphicon glyphicon-ok"></i>
                        </button>
                    </span>
                                <span ng-show="$ctrl.viewctrl.teacherMode && $ctrl.allowCustomPoints()">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="$ctrl.giveCustomPoints">cp
                                    </label>
                                </span>
                            </div>
                            <span ng-show="$ctrl.showTeacher()">
                                <label class="checkbox-inline">
                                    <input type="checkbox" ng-change="$ctrl.toggleInput()" ng-model="$ctrl.saveTeacher">Save teacher's fix
                                </label>
                            </span>
                            <div ng-show="$ctrl.selectedAnswer">
                            <span ng-show="$ctrl.showVelpsCheckBox()">
                            <label class="checkbox-inline" >
                                <input type="checkbox" ng-model="$ctrl.review" ng-change="$ctrl.reviewToggled()">Velps
                            </label>
                            </span>
                            <button ng-if="$ctrl.showDelete"
                                    title="Delete answer"
                                    ng-click="$ctrl.deleteAnswer()"
                                    class="timButton btn-xs btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                            </div>
                        <span ng-show="$ctrl.selectedAnswer">
                        <div class="flex" ng-show="$ctrl.selectedAnswer.users.length > 1">
                            <div>
                                Collaborators:
                                <ul>
                                    <li ng-repeat="c in $ctrl.selectedAnswer.users"><a
                                            ng-href="mailto:{{c.email}}">{{ c.real_name }}</a>
                                        <button ng-if="$ctrl.showDelete"
                                                title="Delete collaborator"
                                                ng-click="$ctrl.deleteCollab(c.id)"
                                                class="timButton btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </span>
                    </div><!-- end flex-->
            <div class="reviewcontainer" ng-if="$ctrl.review">
                <div ng-if="$ctrl.imageReview">
                    <tim-draw-canvas
                            [options]="{enabled: false, color: 'blue', drawType: 2, opacity: 0.2, fill: true, w: 14}"
                            [tool-bar]="$ctrl.viewctrl.velpMode" bg-source="{{$ctrl.reviewHtml}}"
                            [img-load-callback]="$ctrl.setImageReview"></tim-draw-canvas>
                </div>
                <div ng-if="!$ctrl.imageReview" class="review" ng-bind-html="$ctrl.reviewHtml">

                </div>
            </div>
                <span class="triesLeft"
                      ng-show="$ctrl.taskInfo.answerLimit && $ctrl.taskInfo.triesText">{{ $ctrl.taskInfo.triesText }} {{ $ctrl.getTriesLeft() }}</span>


            <span ng-show="$ctrl.taskInfo.starttime || $ctrl.taskInfo.deadline">
        Answering time:
        <span ng-show="$ctrl.taskInfo.starttime && !$ctrl.taskInfo.deadline">
            Since {{ $ctrl.taskInfo.starttime | timdate }}
        </span>
        <span ng-show="!$ctrl.taskInfo.starttime && $ctrl.taskInfo.deadline">
            Until {{ $ctrl.taskInfo.deadline | timdate }}
        </span>
        <span ng-show="$ctrl.taskInfo.starttime && $ctrl.taskInfo.deadline">
            {{ $ctrl.taskInfo.starttime | timdate }} - {{ $ctrl.taskInfo.deadline | timdate }}
        </span>
    </span>
        </div>
        <span ng-show="$ctrl.viewctrl.teacherMode && $ctrl.hasUserChanged() && !$ctrl.loading">(hover/click to update)</span>
        <!-- <img style="display: inline" src="/static/images/loading.gif" ng-show="$ctrl.loading"> -->
    </div>
</div>