div.archive-options {
  margin-top: 10px;
}

input[type='radio'] {
  margin-right: 10px;
}

.list-name {
  font-weight: bold;
  text-align: left !important;
}

label {
  font-weight: normal;
}

tim-loading {
  margin-right: 1em;
}

.archive-list {
  list-style-type: none;
}
