{% set editline = '' %}
{%- if not exam_mode and (rights.editable or rights.can_comment) -%}
    {%- set editline = '<div class="editline" tabindex="0" title="Click to edit this paragraph"></div>' -%}
{%- endif -%}

{%- macro start_area(t, areas, attrs) -%}
    {% set area_name = areas|join('_') %}
    <div class="area {{ t.collapsed }}area_{{areas|join(' area_')}}"
         data-doc-id="{{ t.doc_id }}">
        <div class="areaContent {{ t.cls }}" data-area="{{areas|join(' area_')}}">
            {{ caller() }}
{%- endmacro -%}

{%- macro end_area(open_areas) -%}
    </div>
    </div>
    {{ caller() }}
{%- endmacro -%}

{%- macro notes(t) -%}
{%- if t.notes and not t.from_preamble -%}
<div class="notes">
    {%- for note in t.notes -%}
    <div class="{{ ['note', 'editable' if note.editable else '', 'private' if note.private else '']|join(' ')|trim }}"
         ng-non-bindable
         note-id="{{ note.note.id }}">
        {{ note.note.html|safe }}
        &mdash;
        {%- if note.editable %}
        {% set info = note.user.basic_info_dict %}
        <a class="username" title="{{ info.real_name }}" href="mailto:{{ info.email }}"
        >{{ info.name }}</a>
        {%- endif %}
        <span class="timestamp" title="{{ note.note.created }}">{{ note.note.created|datestr_to_relative }}</span>
        {%- if note.note.modified -%}
        <span class="timestamp" title="{{ note.note.modified }}">
                                (edited {{ note.note.modified|datestr_to_relative }})
                            </span>
        {%- endif -%}
    </div>
    {%- endfor -%}
</div>
{%- endif -%}
{%- endmacro -%}

{%- for t in text -%}
    {%- if t.end_areas -%}
        {% call end_area(t.end_areas) %}
        {% endcall %}

    {%- elif t.start_areas -%}
        {% if t.ref_attrs and t.ref_attrs.area %}
            {% call start_area(t, t.start_areas, t.ref_attrs) %}
            {% endcall %}
        {% else %}
            {% call start_area(t, t.start_areas, t.attrs) %}
            {% endcall %}
        {% endif %}

    {%- elif t.collapse_area -%}
        <div class="{{ t.collapse_class }}" title="Click to expand / collapse"
             id="{{ t.id }}"
             t="{{ t.t }}"
             attrs="{{ t.attrs_str }}"
             data-area="{{ t.collapse_area }}"
        {% if t.from_preamble %}
             data-from-preamble="{{ t.from_preamble|safe }}"
        {% endif %}
        {% if t.ref_id %}
             ref-id="{{ t.ref_id }}"
             ref-t="{{ t.ref_t }}"
             ref-attrs="{{ t.ref_attrs_str }}"
             ref-doc-id="{{ t.ref_doc_id }}"
         {% endif %}
        >
            {% if 'areaexpand' in t.collapse_class %}
                <i class="areatoggle glyphicon glyphicon-plus"></i>
            {% else %}
                <i class="areatoggle glyphicon glyphicon-minus"></i>
            {% endif %}
            <div class="areatitle">{{ (t.html|safe) or ('&nbsp;'|safe) }}</div>
            {% if t.status %}
            <div class="{{ t.status.class_str() }}" title="Click to mark this area as read"></div>
            {% endif %}
            {{ editline|safe }}
            {{ notes(t) }}
        </div>

    {%- else -%}
        <div class="{{ t.cls }}"
             id="{{ t.id }}"
             t="{{ t.t }}"
             attrs='{{ t.attrs_str }}'
         {% if t.ref_attrs and t.ref_attrs.classes and "deleted" in t.ref_attrs.classes %}
             title="This paragraph has been deleted from the source document."
         {% endif %}
         {% if t.from_preamble %}
             data-from-preamble="{{ t.from_preamble|safe }}"
         {% endif %}
         {% if t.ref_id %}
             ref-id="{{ t.ref_id }}"
             ref-t="{{ t.ref_t }}"
             ref-attrs="{{ t.ref_attrs_str }}"
             ref-doc-id="{{ t.ref_doc_id }}"
         {% endif %}>
        {% set attrs = t.ref_attrs or t.attrs %}
        {% set task_id = attrs['taskId'] %}
        {%- if task_id and not preview and not exam_mode -%}
            <a href="#{{ task_id }}" title="Permlink" class="headerlink">#</a>
        {%- endif -%}

        <div {% if not t.is_plugin and not t.is_setting and not t.attrs.allowangular %}ng-non-bindable{% endif %} tabindex="0" class="parContent"{% if task_id %} id="{{ task_id }}"{% endif %}>
                {{ t.html|safe }}
        </div>
        {%- if t.authorinfo -%}
        <div class="authorinfo">
        <i class="glyphicon glyphicon-pencil"></i>
        <span class="username">{{t.authorinfo.display_name}}</span>
        <span class="timestamp">{{ t.authorinfo.time|datestr_to_relative }}</span>
        </div>
        {%- endif -%}

        {%- if t.attrs.rl == 'force' or not (not t.attrs.rd or t.attrs.rl == 'no') -%}
            <tim-par-ref
               docid="{{ t.ref_doc_id }}"
               parid="{{ t.ref_id }}">
            </tim-par-ref>
        {%- endif -%}

        {{ editline|safe }}
        {%- if not should_mark_all_read and not t.from_preamble and t.status -%}
            <div class="{{ t.status.class_str() }}"
                 title="Click to mark this paragraph as read"
                 {% for r in t.status.marks %}
                    time-{{ r.type.class_str() }}="{{ r.timestamp.isoformat() }}"
                 {% endfor %}
            ></div>
        {%- endif -%}

        {{ notes(t) }}
        </div>
    {%- endif -%}
{%- endfor -%}
