.tim-menu {
    max-width: 100%;
    text-align: left;
    padding: .8em;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;

}

.tim-menu-placeholder-content {
    padding: .8em;
    margin-left: -.8em;
    border-radius: 4px;
    margin-bottom: 8px;
}

.tim-menu-item {
    display: block;
    width: 100%;
    color: black;
}

.tim-menu-list-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    white-space: nowrap;
    background: #FFFFFF;
}

.tim-menu-list-item:hover {
    background: #F7F7F7;
}

.tim-menu-dropdown {
    position: absolute;
    float: left;
    z-index: 30;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    background-clip: padding-box;
}

.top-menu {
    position: fixed;
    background: #f7f7f7;
    margin-top: 0;
    top: 0;
    z-index: 30;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
}

.top-menu-mobile {
    margin-left: 30px;
}

.tim-menu-right {
    left: 100%;
}

.tim-menu-left {
    right: 100%;
}

.tim-menu-up {
    bottom: 100%;
}

.tim-menu-down {
    top: 100%;
}

.tim-menu-hidden {
    display: none;
}
